﻿@model Kadry.employee

@{
    ViewBag.Title = "Usuń pracownika";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Pracownicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hourlyrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hourlyrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.holidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.holidays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postion.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postion.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
