﻿@model Kadry.employee

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Pracownicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hourlyrate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hourlyrate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.holidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.holidays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isactive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isactive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.technology.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.technology.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postion.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postion.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.idemployee }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
