﻿@model IEnumerable<Kadry.employee>

@{
    ViewBag.Title = "Pracownicy";
}

<h2>Pracownicy</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hourlyrate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.holidays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.technology.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postion.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hourlyrate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.holidays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isactive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.technology.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postion.name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.idemployee }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.idemployee }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.idemployee })
        </td>
    </tr>
}

</table>
