﻿@model Kadry.schedule

@{
    ViewBag.Title = "Usuń datę";
}

<h2>Usuń datę</h2>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Kalendarz dni pracy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
