﻿@model Kadry.schedule

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegół</h2>

<div>
    <h4>Kalendarz dni pracy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edytuj", new { id = Model.idschedule }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
