﻿@model IEnumerable<Kadry.schedule>

@{
    ViewBag.Title = "Kalendarz dni pracy";
}

<h2>Kalendarz dni pracy</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.idschedule }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.idschedule }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.idschedule })
        </td>
    </tr>
}

</table>
