﻿@{
    ViewBag.Title = "Zresetuj hasło";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Twoje hasło zostało zresetowane, @Html.ActionLink("kliknij tutaj, aby się zalogować", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
