﻿@model Kadry.technology

@{
    ViewBag.Title = "Usuń technologię";
}

<h2>Usuń technologię</h2>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Technologie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
