﻿@model IEnumerable<Kadry.technology>

@{
    ViewBag.Title = "Technologie";
}

<h2>Technologie</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edytuj", new { id=item.idtechnology }) |
            @Html.ActionLink("Szczegóły", "Szczegóły", new { id=item.idtechnology }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.idtechnology })
        </td>
    </tr>
}

</table>
