﻿@{
    ViewBag.Title = "Kadry i płace";
}

<div class="jumbotron">
    <h1>KADRY</h1>
    <p class="lead">Kadry i płace</p>
    <p><a href="https://localhost" class="btn btn-primary btn-lg">Rozpocznij</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Harmonogramy i zarobki</h2>
            <p>
                Aplikacja do zarządzania kadrami i płacami w firmie informatycznej.
            </p>
        
    </div>
</div>