﻿@model IEnumerable<Kadry.address>

@{
    ViewBag.Title = "Adresy";
}

<h2>Adresy</h2>

<p>
    @Html.ActionLink("Dodaj adres", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.town)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postalcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buldingnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.town)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postalcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buldingnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.idaddress }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.idaddress }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.idaddress })
        </td>
    </tr>
}

</table>
