﻿@model Kadry.employeeschedule

@{
    ViewBag.Title = "Usuń harmonogram";
}

<h2>Usuń harmonogram</h2>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Harmonogramy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.daytype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daytype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule.idschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule.idschedule)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
