﻿@model Kadry.employeeschedule

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Harmonogramy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.daytype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daytype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schedule.idschedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schedule.idschedule)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edytuj", new { id = Model.idemployeeschedule }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
