﻿@model Kadry.employeeschedule

@{
    ViewBag.Title = "Edytuj harmonogram";
}

<h2>Edytuj harmonogram</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Harmonogramy</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idemployeeschedule)

        <div class="form-group">
            @Html.LabelFor(model => model.daytype, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.daytype, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.daytype, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.employee_idemployee, "Wybierz pracownika", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("employee_idemployee", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employee_idemployee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.schedule_idschedule, "Wybierz harmonogram", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("schedule_idschedule", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.schedule_idschedule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>
