﻿@model IEnumerable<Kadry.employeeschedule>

@{
    ViewBag.Title = "Harmonogramy";
}

<h2>Harmonogramy</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.daytype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schedule.idschedule)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.daytype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schedule.idschedule)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.idemployeeschedule }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.idemployeeschedule }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.idemployeeschedule })
        </td>
    </tr>
}

</table>
