﻿@model IEnumerable<Kadry.postion>

@{
    ViewBag.Title = "Stanowiska";
}

<h2>Stanowiska</h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.idposition }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.idposition }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.idposition })
        </td>
    </tr>
}

</table>
